{% extends 'base.html.twig' %}

{% block title %}
	Contact
{% endblock %}

{% block body %}
	<section class="content-about">
		<h1 data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="contact-sujet">
			Contact</h1>
		<hr class="head-separator">
		<div class="contact" data-aos="fade-left" data-aos-duration="2000" data-aos-easing="ease-out-cubic">
			<div class="contact-left">
				<h2>E-MAIL</h2>
				fanyubaladier@gmail.com</i>
		</div>
		<div class="contact-right">
			<h2>RÉSEAUX SOCIAUX</h2>
			<div class="reseaux">
				<a href="https://www.linkedin.com/in/fanyu-baladier/" target="_blank">
					<i class="bi bi-box-arrow-right">Linkedin</i>
				</a>
				<a href="{{asset('build/images/wechat.png')}}" target="_blank">
					<i class="bi bi-box-arrow-right">Wechat</i>
				</a>
			</div>

		</div>
	</div>

</section>{% endblock %}
