{% extends 'base.html.twig' %}

{% block title %}
	Projets
{% endblock %}

{% block body %}
	<section class="content">
		<h1 class="projet-text" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
			Projets</h1>
		<hr class="projet-separator">
		<div class="blog-list">
			{% for projet in projets %}
				{% include 'Components/_projetFront.html.twig' %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
