{% extends 'base.html.twig' %}

{% block title %}
	About
{% endblock %}

{% block body %}
	<section class="content-about">
		<h1 data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
			About</h1>
		<hr class="head-separator">
		<p data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-out-cubic">Hey, Je suis Baladier Fanyu. Avant de me lancer dans le monde du développement en tant que junior développeur full-stack, j'ai passé deux ans en tant qu'enseignant en maternelle dans le domaine de l'éducation. Un jour, j'ai découvert le monde de la programmation et depuis, je suis tombé amoureux de ce domaine. J'apprécie particulièrement la musique, la lecture, les films et les voyages. C'est avec passion que je continue d'explorer les possibilités infinies du coding et les nouvelles technologies.<a href="{{asset('CV-BaladierFanyu(alternance-java).pdf')}}" target="_blank">
				<i class="bi bi-arrow-down-short">Mon CV</i>
			</a>
		</p>


	</section>
{% endblock %}
