.container-projet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 30%;

    .sujet{
        margin-top: 2em;
    }

    .blog-list{
        margin-top: 2em;
    }
}